
@{
    ViewData["Title"] = "MyView" ;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div>
        @ViewBag.Greeting World(From the View)
        <p>
            We are going to have an exciting party.<br />
            (To do: Sell is better. Add pictures or something)
        </p>
        <a asp-action="Register">Register Now</a>
    </div>
</body>
</html>
